# Configuraciones Generales
ENVIRONMENT=local # local o azure

# Base de Datos MySQL
MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_DATABASE=insecom_crm
MYSQL_USER=insecom_user
MYSQL_PASSWORD=insecom_secure_pass
MYSQL_ROOT_PASSWORD=insecom_root_secure_pass

# Caché Redis
REDIS_HOST=cache
REDIS_PORT=6379

# Gestor de Colas RabbitMQ (Local)
RABBITMQ_HOST=queue
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_QUEUE=leads_notifications

# Azure Service Bus (Para producción - opcional)
AZURE_SERVICE_BUS_CONNECTION_STRING=Endpoint=sb://insecom-bus.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=xxxxxx
AZURE_SERVICE_BUS_QUEUE_NAME=leads-queue
